@using React.AspNet

@{
    ViewData["Title"] = "User Panel";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To Do App</title>
    <link rel="stylesheet" href="~/css/normalization.css" />
    <link rel="stylesheet" href="~/css/UserPanel.css" />
    <link rel="stylesheet" href="~/css/calendar.css" />
</head>
<body>
    <div class="container">
        <div id="leftPanel">
            <a id="logo" class="leftPanelOption"></a>
            <a id="facebook" class="leftPanelOption"></a>
            <a id="instagram" class="leftPanelOption"></a>
            <div id="contact" class="leftPanelOption"></div>
            <div id="settings" class="leftPanelOption"></div>
            <div id="logout" class="leftPanelOption"></div>
        </div>
        <div id="calendar" class="tiles">
        </div>
        <div id="goals" class="tiles"></div>
        <div id="notes" class="tiles"></div>
        <div id="tasks" class="tiles"></div>
        <div id="habits" class="tiles"></div>
        <div id="slider" class="">
            <div id="arrowLeft"></div>
        </div>
    </div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/js/calendarWidget.jsx"></script>
    @Html.ReactInitJavaScript()

</body>
</html>
