@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To Do App</title>
    <link rel="stylesheet" href="~/css/normalization.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    @*<div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>*@
    <div class="container">
        <div id="about"></div>
        <div id="social"></div>
        <div id="contact"></div>
        <div id="login"></div>

        @*<nav id="leftPanel" class="col">
            <div id="logo"></div>
            <ul id="menu">
                <li>
                    Main
                </li>
                <li>
                    About
                </li>
                <li>
                    Contact
                </li>
                <li>
                    ...
                </li>
            </ul>
            <div id="login"></div>
        </nav>
        <div id="content" class="col">
            content
        </div>
        <footer>
            <span> Made by <a href="" id="authorLink">Kamil Brodziak</a></span>
            <div id="social"></div>
        </footer>*@
    </div>
</body>
</html>