#container {
    background-color: black;
    background-image: url("../img/36448496-light-wood-texture-vector-background.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 11fr 1fr;
    grid-template-areas: "homeNav content" "footer content";
}

#content {
    grid-area: content;
}

#homeNav {
    grid-area: homeNav;
    background-color: rgba(0, 0, 0, 0.95);
}

#homeNav ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 1fr 1fr 1fr 1.2fr 0.8fr;
}

#homeNav ul li {
    /*box-shadow: inset 3px 3px 28px rgba(50, 50, 50, 0.4), inset -3px -3px 28px rgba(50, 50, 50, 0.4);*/
    box-sizing: border-box;
    border: 2px groove silver;
    border-width: 0 0 2px 0;
}

.activeNav {
    /*box-sizing: border-box;
    border: 2px groove silver;
    border-width: 0 10px 2px 0;*/
}

#homeNav ul li a {
    color: silver;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#homeNav ul li a:visited {
    color: silver;
}

#homeNav ul li a:active {
    color: silver;
}

#homeNav ul li a:hover:not(#logoNav) {
    background-color: rgba(30, 30, 30, 0.7);
}

footer {
    grid-area: footer;
    background-color: black;
}